*{padding:0; margin:0; box-sizing:border-box; font-size:12px; scroll-behavior: smooth;}
ul,li,ol,dd,dt,dl{list-style:none;}

html, body{height:100%;}
textarea{padding:15px; resize:none; outline:none; border:1px solid #ededed; border-radius:5px;}
.col-resize{cursor:col-resize;}
.row-resize{cursor:row-resize;}

#wrap{position:relative; height:100%;}


/* checkbox */
.an_checkbox{position:relative; display:inline-block; font-size:12px; color:#475467; line-height:16px; vertical-align:top;}
.an_checkbox > span{position:relative; display:inline-block; vertical-align:top;}
.an_checkbox > i{display:inline-block; width:15.34px; height:15.34px; margin:0 6px 0 0; vertical-align:top; border-radius:3px; border:2px solid #636366;}
.an_checkbox > input{position:fixed; top:1000%; left:1000%;}
.an_checkbox > input:checked + i{border-color:#0A7AFF; background:#0A7AFF url(./img/checkbox_checked.png) no-repeat 0 center; background-size:90%;}
.an_checkbox > input:disabled + i{border-color:#D6D6D7;}
.an_checkbox > input[line] + i{border-color:#0A7AFF; background:#0A7AFF url(./img/checkbox_line.png) no-repeat center; background-size:100%;}
.an_checkbox > input:disabled:checked + i{border-color:#D6D6D7;  background-color:#D6D6D7;}
.an_checkbox > input:disabled[line] + i{border-color:#D6D6D7; background-color:#D6D6D7; background-position:center;}

.an_tree .an_checkbox > i{position:relative; top:-1px; width:12px; height:12px; }

/* radio */
.an_radio{position:relative; display:inline-block; font-size:12px; color:#475467; line-height:16px; vertical-align:top;}
.an_radio > span{position:relative; top:2px; display:inline-block; vertical-align:top;}
.an_radio > i{display:inline-block; width: 18.11px; height: 18.11px; margin:0 6px 0 0; vertical-align:top; border-radius:100%; border:2px solid #98A2B3;}
.an_radio > input{position:fixed; top:1000%; left:1000%;}
.an_radio > input:checked + i{border-color:#0A7AFF; background:#0A7AFF url(./img/checkbox_checked.png) no-repeat 0 center; background-size:90%;}
.an_radio > input:disabled + i{border-color:#D6D6D7; background-color:#D6D6D7;}
.an_radio > input:disabled:checked + i{border-color:#D6D6D7; background-color:#D6D6D7;}

/* select */
.an_select{position:relative; display:inline-block; height:30px;}
.an_select:after{content:""; display:block; clear:both;}
.an_select > input, .an_select > .an_select_tit, .an_select > .an_select_menu, #an_select_menus_wrap > .an_select_menu{display:flex; align-items:center; justify-content:flex-start; padding:0 5px; border-radius:5px; height:100%; background:#edecec;}
.an_select > .an_select_tit{float:left; width:calc(60% - 3px); background-image:url(./img/icon_triangle_open.png); background-repeat:no-repeat; background-position:calc(100% - 10px) center;}
.an_select > input{float:right; width:calc(40% - 2px); border:none;}

.an_select > .an_select_menu.toggle_open, #an_select_menus_wrap > .an_select_menu.toggle_open{display:block;}
.an_select > .an_select_menu, #an_select_menus_wrap > .an_select_menu{position:fixed; display:none; height:auto; max-height:150px; overflow:auto; scroll-behavior:unset; background-image:url(./img/icon_triangle_close.png); background-repeat:no-repeat; background-position:calc(100% - 10px) 13px;}
.an_select > .an_select_menu > ul, #an_select_menus_wrap > .an_select_menu > ul{display:flex; flex-direction:column;}
.an_select > .an_select_menu.reverse > ul, #an_select_menus_wrap > .an_select_menu.reverse > ul{flex-direction:column-reverse}
.an_select > .an_select_menu > ul > li, #an_select_menus_wrap > .an_select_menu > ul > li{display:flex; justify-content:flex-start; align-items:center; height:30px;}

/* gnb */
#gnb{position:fixed; top:0; left:65px; right:0; display:flex; justify-content:space-between; height:48px; background:#000;}
#gnb > ul {position:relative; z-index:5;display:flex; justify-content:flex-start; align-items:stretch;}
#gnb > ul > li{position:relative; display:flex; justify-content:center; align-items:center; color:#A9A9AB; flex:1; cursor:pointer;}
#gnb > ul > li > i{font-size:18px;}
#gnb > ul > li > i.arr{margin-left:5px; font-size:5px;}
#gnb > ul.gnb_left{padding:0 0 0 15px;}
#gnb > ul > li{position:relative; width:60px;}

.gnb_left_subMenu_wrap{}
.gnb_left_subMenu{position:fixed; top:50%; left:50%; z-index:100; display:none; width:240px; transform:translate(-50%, 0); background:#000;}
.gnb_left_subMenu.toggle_open{display:block;}
.gnb_left_subMenu > ul{position:relative; z-index:5; padding:8px 0; background:#000;}
.gnb_left_subMenu > ul > li{display:flex; justify-content:space-between; padding:4px 24px; font-family: 'Inter'; font-style: normal; font-weight: 400; font-size: 12px; line-height: 15px; /* identical to box height */ color: #FFFFFF;} .gnb_left_subMenu > ul > li:hover{color:#fff; background:#138BFB;}
.gnb_left_subMenu > ul > li .shortcut_key{width:50px; text-align:right;}
.gnb_left_subMenu:after{content:""; position:absolute; top:0; left:50%; z-index:1;  width:15px; height:15px; transform:translate(-50%, -50%) rotate(45deg); background:#000;}
/* #gnb > ul > li{width:50px; background-repeat:no-repeat; background-position:center;} */
/* #gnb > ul.gnb_left > li.i1{background-image:url(./img/gnbIcon_folder_open.png); background-size:22.5px auto;}
#gnb > ul.gnb_left > li.i2{background-image:url(./img/gnbIcon_file_arr_horizontal.png); background-size:16px auto;}
#gnb > ul.gnb_left > li.i3{background-image:url(./img/gnbIcon_folder_setting); background-size:20px auto;}
#gnb > ul.gnb_left > li.i4{background-image:url(./img/gnbIcon_tool.png); background-size:18.5px auto;}
#gnb > ul.gnb_left > li.i5{background-image:url(./img/gnbIcon_setting); background-size:22.5px auto;}
#gnb > ul.gnb_left > li.i6{background-image:url(./img/gnbIcon_funnel.png); background-size:18.65px auto;}
#gnb > ul.gnb_left > li.i7{background-image:url(./img/gnbIcon_tree.png); background-size:19px auto;}
#gnb > ul.gnb_left > li.i8{background-image:url(./img/gnbIcon_grid.png); background-size:19px auto;}
#gnb > ul.gnb_left > li.i9{background-image:url(./img/gnbIcon_wastebasket.png); background-size:17px auto;} */

#gnb > ul.gnb_right{padding:0 15px 0 0;}
/* #gnb > ul.gnb_right > li.i1{background-image:url(./img/gnbIcon_readingGlasses_minus.png); background-size:19px auto;}
#gnb > ul.gnb_right > li.i2{background-image:url(./img/gnbIcon_readingGlasses_plus.png); background-size:18px auto;}
#gnb > ul.gnb_right > li.i3{background-image:url(./img/gnbIcon_classBox.png); background-size:20.5px auto;} */

.gnb_tit{position:absolute; top:0; bottom:0; right:0; left:0; z-index:1; display:flex; justify-content:center; align-items:center; font-family: 'Inter'; font-style: normal; font-weight: 500; font-size: 16px; line-height: 19px; text-align: center; letter-spacing: -0.03em; color: #D3D2D8;} 

/* lnb */
#lnb{position:fixed; top:0; left:0; bottom:0; width:65px; background:#5A5A5A;}

.lnb_left{position:absolute; top:0; left:0; right:0; bottom:0; z-index:20;}
.lnb_left_top_button{display:flex; justify-content:center; align-items:center; height:48px; color:#fff; cursor:pointer; border-bottom:1px solid #DCDEE1; opacity:0.6;}
.lnb_left_top_button > i{font-size:24px;}
.lnb_left > .lnb_left_menu > li{position:relative; display:flex; flex-direction:column; justify-content:center; align-items:center; height:80px; cursor:pointer;}
.lnb_left > .lnb_left_menu > li:after{content:""; position:absolute; display:block; left:0; right:0; bottom:0; height:1px; opacity:0.2; background:#DCDEE1;}
.lnb_left > .lnb_left_menu > li .icon{display:block; width:100%; height:27px; opacity:0.6;}
.lnb_left > .lnb_left_menu > li .icon.c{background:url(./img/icon_chart.png) no-repeat center;}
.lnb_left > .lnb_left_menu > li .icon.g{background:url(./img/icon_folder.png) no-repeat center;}
.lnb_left > .lnb_left_menu > li .icon.f{background:url(./img/icon_file.png) no-repeat center;}
.lnb_left > .lnb_left_menu > li > i{font-size:24px; color:#fff; opacity:0.6;}
.lnb_left > .lnb_left_menu > li .tit{display:flex; align-items:center; justify-content:center; width:100%; padding-top:10px; font-family: 'Inter'; font-style: normal; font-weight: 500; font-size: 13px; line-height: 16px; text-align: center; letter-spacing: -0.03em; color: #FFFFFF; opacity: 0.6;}

.lnb_left > .lnb_left_menu > li.active{background:#55A0E5;}
.lnb_left > .lnb_left_menu > li.active:after{border-color:#55A0E5;}
.lnb_left > .lnb_left_menu > li.active .icon{opacity:1;}
.lnb_left > .lnb_left_menu > li.active .tit{color:#fff; opacity:1;}
.lnb_left > .lnb_left_menu > li.active > i{opacity:1;}



/* content */
#content{position:fixed; top:48px; left:65px; right:0; bottom:0; font-size:0; white-space:nowrap; background:#f8f8f8;}
#content > #content_wrap{display:inline-flex; width:100%; height:100%;}
#content .content_box{display:none; flex-direction:column; width:100%; height:100%; vertical-align:top; background:#dedede;}
#content .content_box[active]{display:inline-flex;}
#content .content_box_white{height:100%; margin:9px 18px 16px; padding:20px; white-space:normal; border-radius:10px; background:#fff;}
#content > .content_both{height:150px; background:gray;}
.content_top_box{flex:1;}
.content_both_box{position:relative;background:#fff;}
.both_box_inner{position:absolute; top:0; left:0; right:0; display:flex; flex-direction:column; overflow:hidden;}
.content_both_box .both_box_tit{height:39px; background:#F1F2F4;}
.both_box_textarea{flex:1; padding:10px;}
.both_box_textarea > textarea{width:100%;}

.toggle_btn_bothTextarea{position:absolute; top:0; right:0; z-index:10; width:36px; height:36px; border:none; transform:rotate(0deg); transition:top ease 0.5s, transform ease 0.5s; cursor:pointer; opacity:0.6; background:rgba(255,255,255,0.3)}
.toggle_btn_bothTextarea:hover{opacity:1;}
.toggle_btn_bothTextarea > i{position:relative; top:3px; font-size:25px;}

.ani_bothTextarea .content_both_box{transition:height ease 0.5s;}
.toggle_btn_bothTextarea.closed{top:-30px; transform:rotate(180deg);}
.toggle_btn_bothTextarea.closed + .splitter_handler{display:none;}



/* side_wing */

.side_wing{position:fixed; top:48px; bottom:0; z-index:10; width:238px; background:#fff; }
.side_wing > ul{position:relative; height:100%;}
.side_wing > ul > li{position:relative; display:flex; align-items:stretch; border-bottom:1px solid #D3D2D8;}
.side_wing > ul > li > .side_wing_wrap{width:100%; overflow:auto;}
.side_wing > ul > li + li{margin-top:1px;}
.side_wing_tit{position:relative; display:flex; justify-content:flex-start; align-items:center; height:28px; padding:0 0 0 28px; font-family: 'Inter'; font-style: normal; font-weight: 500; font-size: 11px; line-height: 16px; color: #333333; cursor:pointer; background:#EFEFEF;}
.side_wing_tit:after{content:""; position:absolute; top:0; left:0; bottom:0; display:inline-block; width:24px; transition:transform ease 0.5s; transform:rotate(90deg); background:url(./img/tree_arr.png) no-repeat center;}
li.closed .side_wing_tit:after{transform:rotate(0deg);}
li.closed .splitter_handler.vertical{display:none;}
.side_wing_con{height:calc(100% - 28px); overflow:auto;}
.side_wing > ul > li:last-child{border-bottom-width:0;}

.open_lnb_wing #lnb .side_wing{left:65px; transform:translateX(0)}
#lnb .side_wing{left:0px; transform:translate(-100%); transition: left ease 0.5s, transform ease 0.5s;}

.open_rnb_wing #rnb .side_wing{transform:translateX(0)}
#rnb .side_wing{right:0px; transform:translateX(100%); transition:transform ease 0.5s;}

.content_wing_left{position:relative; display:inline-block; width:0px; height:100%; vertical-align:top;}
.content_wing_left .side_wing{position:absolute; top:0; left:unset; right:0; bottom:0;}


#content.t .content_wing_left, #content.t #content_wrap{transition:width ease 0.5s;}

.transition_h{transition:height ease .5s;}

.wrap_wing_type3{padding:10px 7px;}

/* splitter_handler */
.splitter_handler{position:absolute; z-index:100;}
.splitter_handler.horizontal{top:0; right:0; bottom:0; width:10px;}
.splitter_handler.horizontal:hover{cursor:col-resize}
#rnb .splitter_handler.horizontal{left:0; right:unset}
.splitter_handler.vertical{bottom:-5px; left:0; right:0; height:10px;}
.splitter_handler.vertical.top{top:-5px; bottom:unset;}
.splitter_handler.vertical:hover{cursor:row-resize;}
#content > .content_both > .splitter_handler{bottom:unset; top: - 15px;}

/* tree */
.an_tree .anTree_wrap .treeLine{display:inline-block;}
.an_tree .anTree_wrap .treeLine > .arr{display:inline-block; width:24px; height:24px; transition:transform ease 0.5s; background:url(./img/tree_arr.png) no-repeat center;}
.an_tree .anTree_wrap .treeLine > .an_checkbox{display:inline-flex; height:24px; align-items:center;}
.an_tree .anTree_wrap .treeLine > .tit{display:inline-flex; align-items:center; height:24px; font-size:12px; line-height:16px; vertical-align:top;}
.an_tree .anTree_wrap .treeLine > .an_checkbox:first-child, .an_tree .anTree_wrap .treeLine > .tit:first-child{margin-left:24px;}
.an_tree .anTree_wrap > ul > li:before{display:none;}
.an_tree .anTree_wrap > ul > li:after{display:none;}
.an_tree .anTree_wrap ul > li > ul{padding-left:20px;}
.an_tree .anTree_wrap ul > li{position:relative;}
.an_tree .anTree_wrap ul > li:before{content:""; position:absolute; top:0; left:-9px; width:3px; height:100%; background:url(./img/tree_line.png) repeat-y;}
.an_tree .anTree_wrap ul > li:after{content:""; position:absolute; top:-4px; left:-9px; width:9px; height:17px; background:url(./img/tree_tail.png) no-repeat;}
.an_tree .anTree_wrap ul > li:last-child:before{display:none;}
.an_tree .anTree_wrap ul > li.open > .treeLine > .arr{transform:rotate(90deg)}

.an_tree .anTree_wrap ul > li ul{display:none;}
.an_tree .anTree_wrap ul > li.open > ul{display:block;}


/* tab */
.tab-box{position:relative; height:100%; padding:9px 18px 16px;}
.tab-box-head{position:relative; height:36px; border-bottom:1px solid #BCBCBC;}
.tab-labels{position:relative; max-width:calc(100% - 60px); display:inline-block; height:100%; white-space:nowrap; font-size:0; vertical-align:top; overflow:hidden;}
.tab-labels > ul{display:inline-block; height:100%; font-size:0; vertical-align:top; padding:0 5px 0 30px;}
.tab-labels > ul > li{position:relative; display:inline-flex; justify-content:flex-start; align-items:center; width:234px; height:100%; padding:0 0 0 15px; margin:0; font-family: 'Manrope'; font-style: normal; font-weight: 500; font-size: 12px; line-height: 16px; color: #000000; vertical-align:top; cursor:default;}
.tab-labels > ul > li:not(.active):not(.none-line):not(:last-child):not(:hover):after{content:""; position:absolute; top:calc(50% - 13.5px); right:0; width:1px; height:27px; background:#B5B5B5;}
.tab-labels > ul > li.active{position:relative; z-index:5; border-radius:8px 8px 0 0; background:#fff;}
.tab-labels > ul > li:before, .tab-labels > ul > li:after{content:""; position:absolute; bottom:0; width:8px; height:8px; background-repeat:no-repeat; background-size:100% auto;}
.tab-labels > ul > li:hover:not(.active){position:relative; border-radius:8px 8px 0 0; background:#EEF0F2;}
.tab-labels > ul > li:hover:before{left:-8px; background-image:url(./img/tab-label-active-radius-l_hover.png);}
.tab-labels > ul > li:hover:after{right:-8px; background-image:url(./img/tab-label-active-radius-r_hover.png);}
.tab-labels > ul > li.active:before{left:-8px; background-image:url(./img/tab-label-active-radius-l.png);}
.tab-labels > ul > li.active:after{right:-8px; background-image:url(./img/tab-label-active-radius-r.png);}
.tab-label-close-btn{position:absolute; top:calc(50% - 8px); right:8px; width:16px; height:16px; border:0; cursor:pointer; background:url(./img/tab-label-close-btn.png) no-repeat center; background-size:8px auto;}
.tab-add-btn{position:absolute; top:calc(50% - 18px); right:0;  display:inline-block; width:36px; height:36px; margin:0; border:none; cursor:pointer; border-radius:100%; background:url(./img/tab-add-btn.png) no-repeat center; background-size:16px 16px;}
.tab-add-btn:hover{background-color:#D9D9D9;}

.tab-box-head.arr_on .tab-label-arr{display:block;}
.tab-label-arr{position:absolute; top:0; bottom:0; z-index:7; display:none; cursor:pointer; border:none; opacity:0.15; cursor:pointer; background:transparent;}
.tab-label-arr > i{font-size:20px;}
.tab-label-arr:hover{opacity:1;}
.tab-label-arr.l{left:0;}
.tab-label-arr.r{right:40px;}

.tab-box-content{height:calc(100% - 60px); margin-top:24px;}
.tab-content-inner{position:relative; display:none; height:100%; overflow:hidden;}
.tab-content-inner.active{display:block;}

/* tab horizontal */
.tab-layout-wrap{display:flex; justify-content:flex-start; align-items:flex-start; flex-direction:column; overflow:hidden;}
.tab-layout-row{flex:1; display:flex; justify-content:flex-start; align-items:flex-start;}
.tab-layout-cell{flex:1; border-radius:10px; white-space:normal; background:#fff;}

.tab-layout-wrap.h{position:relative; top:-18px; height:calc(100% + 18px);}
.tab-layout-wrap.h .tab-layout-row{position:relative; left:-18px; width:calc(100% + 18px);}
.tab-layout-wrap.h .tab-layout-row{margin-top:18px;}
.tab-layout-wrap.h .tab-layout-cell{height:100%;}
.tab-layout-wrap.h .tab-layout-cell{margin-left:18px;}

.tab-layout-wrap.h .tab-layout-row:only-child{margin-bottom:0;}
.tab-layout-wrap.h .tab-layout-cell:only-child{margin-right:0;}

/* tab vertical */
.tab-layout-wrap.v{position:relative; left:-18px; width:calc(100% + 18px); flex-direction:row; height:100%;}
.tab-layout-wrap.v .tab-layout-row{position:relative; top:-18px; flex-direction:column; height:calc(100% + 18px);}
.tab-layout-wrap.v .tab-layout-cell{width:100%;}
.tab-layout-wrap.v .tab-layout-row{margin-left:18px;}
.tab-layout-wrap.v .tab-layout-cell{margin-top:18px;}

/* list box basic */
.list_box_basic > ul{padding:10px 0;}
.list_box_basic > ul > li{padding:5px 20px 0; min-height:24px; font-family: Inter Regular; font-size: 12px; line-height: 16px; text-align: left; vertical-align: Top; white-space:pre-wrap; word-break:break-word; }
.list_box_basic > ul > li > a{text-decoration:none; color:inherit;}
.list_box_basic > ul > li > a:active{color:inherit;}


/* .tab-content-inner-box{display:inline-block; width:calc(50% - 9px); height:calc(50% - 9px); border-radius:10px; background:#fff;}
.tab-content-inner-box:nth-child(2n + 1){margin-right:9px;}
.tab-content-inner-box:nth-child(2n + 2){margin-left:9px;}
.tab-content-inner-box:nth-child(1n + 3){margin-top:18px;} */